header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
.divForm{
    max-width:auto;
    height: 400px;
    margin:auto;
    border-bottom:2px solid black;
    border-radius:5px
}
form{
    display:flex;
    align-items:center;
    flex-direction:column;
    padding-top:20px;
}
label {
    padding:5px 0 5px 0;
    font-family:Tahoma;
    font-weight:bold;
}
.sexo{
    padding:5px 0 5px 0;
}
